img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: transform 4s ease-out;

}

img:hover {
     transform: rotate(1080deg);
}

.fan {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}