.tiles-promo {
    display: flex;
    flex-flow: column wrap;
    height: 400px;
}

.tile1 {
    box-sizing: border-box;
    flex: 100%;
    width: 25%;
    padding: 2em;
    color: white;
    text-align: center;
    background: url(img/hol.jpg);
    background-size: cover;
    background-position: center;
}
.tile2 {
    box-sizing: border-box;
    flex: 100%;
    width: 25%;
    padding: 2em;
    color: white;
    text-align: center;
    background: url(img/oil.jpg.crdownload);
    background-position: center;
    background-size: cover;
}

.tile_small1 {
    flex: 50%;
    width: 25%;
    color: white;
    text-align: center;
    background: url(img/wheel.jpg);
    background-position: center;
    background-size: cover;
    
}
.tile_small2 {
    flex: 50%;
    width: 25%;
    color: white;
    text-align: center;
    background: url(img/vc.jpg);
    background-position: center;
    background-size: cover;
}
.tile_small3 {
    flex: 50%;
    width: 25%;
    text-align: center;
    background: url(img/kol.jpg);
    background-position: center;
    background-size: cover;;
}
.tile_small4 {
    flex: 50%;
    width: 25%;
    text-align: center;
    background: url(img/speaker.jpg);
    background-position: center;
    background-size: cover;;
}
.link {
     width: 25%; /* Ширина слоя */
     height: 100px; /* Высота слоя */
   
    }
.link a {
     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
    }