   .layer1 {
    float: left;
    background: url(../img/Warszawa_Pa%C5%82ac_Kultury_i_Nauki_2009.jpg);
    background-size: 330px 670px;
    background-position: center;
    border: 1px solid blue; 
    padding: 10px; 
    margin-right: 10px;
    width: 15%; 
   }
    .layer2 {
    float: left; 
    background:url(../img/taxi.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid black; 
    padding: 10px; 
    margin-right: 10px; 
    width: 40%;   
      }
    .layer3 {
    float: left; 
    background: white; 
    border: 1px solid black;
    padding: 10px; 
    margin-right: 10px; 
    width: 38%;  
      }
    div{
    color: black;
    padding: 10px;
    font-weight: 500
      }
    header {
    position: relative;
    text-align: center;
      }
    footer {    
    position: relative;
    left: 10; bottom: 0; 
    padding: 10px;
    color: #fff; 
    width: 100%; }
