.form-registration {
    margin: 10px 20px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-width: 0;
    border-bottom: 5px solid aquamarine);
    box-sizing: border-box;
}

.form-registration__input {
    
}

.form-input_type-submit {
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.form-input_type-submit:hover {
    background-color: blanchedalmond;
}

