* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 
	color:#c0cddb;
}

body {
	background-color: rgb(237, 238, 240);
}

.logo {
	display: flex;
	flex-direction: row;
	height: 44px;
	width: 100%;
	background-color: #436EAB;
	margin-bottom: 10px;
}


.logo__logo > p {
	display: flex;
	flex-direction: row;
}

.logo__vk  {
	display: flex;
	justify-content: flex-start;
	width: 13%;
	cursor: pointer;
	padding: 6px 0px;
}

.logo__vk:active {
	padding: 5px 0px 6px 0px;
}

.logo__empty {
	display: flex;
	justify-content: space-between;
	width: 23%;
}

.logo__item-search {
	width: 20%;
	padding: 7px 0px 7px 25px;
}

.logo__search {
	margin-right: 10px;
 	width: 70%;
 	height: 8px;
 	padding: 10px 27px;
    border: transparent;
	border-radius: 15px;
	background-image: url(img/search.png);
	background-position: 8px;
	background-repeat: no-repeat;
	background-color: #27446D;
	color:#c0cddb;
}

 .logo__search:focus {
 	background-color: white;
 }
 
 input[type="text"]::-webkit-input-placeholder {
       color: #c0cddb;
 }

.logo__bell {
	width: 4%;
	background-image: url(img/bell.png);
	background-repeat: no-repeat;
	background-position: 11px;
	cursor: pointer;
}

.logo__bell:hover {
	background-color: #38699E;
}

.logo__music {
    width: 4%;
	background-image: url(img/music.png);
	background-repeat: no-repeat;
	background-position: 11px;
	cursor: pointer;
}

.logo__music:hover {
	background-color: #38699E;
}

.logo__play {
 	width: 4%;
 	background-image: url(img/play.png);
	background-repeat: no-repeat;
	background-position: 11px;
	cursor: pointer;
}

.logo__play:hover {
	background-image: url(img/play2.png);
	background-repeat: no-repeat;
	background-position: 11px;
}

.logo__empty__more {
	width: 25%;
}

.logo__name {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 10%;
	padding-right: 8px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

.logo__name:hover {
	background-color:#38699E; 
}

.logo__angel {
	visibility: hidden;
}

.name__photo {
	border-radius: 20px;
	margin-left: 10px;
}

.main {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	background-color: rgb(237, 238, 240);
}

.nothing {
	width: 270px;
	height: 500px;
}

.items {
	width: 180px;
}

.items > div {
	display: flex;
	font-size: 12.5px;
	margin-right: 5px;
	color:#436EAB; 
	padding: 7px;
	cursor: pointer;
}

.items > div > img {
     padding-right: 8px;
}

.items > div:hover {
	background-color: rgba(204, 211, 234, 0.4);
}

.items__line {
	display: flex;
	justify-content: flex-end;
}

.items__line hr {
	margin: 10px;
	border: 0.4px solid #c0cddb;
	width: 73%;
}

.topic {
	width: 600px;
	height: 510px;
	
	margin: 0px 10px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.topic__icon{
    display: flex;
	height: 65px;
	width: 170px;  
}

.topic__icon > img {
	cursor: pointer;
}

.topic__public {
	width: 400px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.topic__name {
	margin-bottom: 11px;
	font-size: 13px;
	cursor: pointer;
}

.topic a {
	text-decoration: none;
}

	.topic a:hover {
	text-decoration: underline;
	}

.topic_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	cursor: pointer;	
}

.topic_main > img {
	padding-bottom: 5px;
}

.topic__line hr {
	margin: 10px;
	border: 0.4px solid #c0cddb;
	width: 500px;
}

.topic_main__content div {
	display: flex;
	flex-direction: row;
}
.topic_main__content img {
	justify-content: flex-start;
	padding-right: 6px;
	cursor: pointer;
}

.topic_main__items p {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	
	padding: 0px  15px 0px 10px;
	cursor: pointer;
}

.topic_main__views {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
	color: grey;
}

.topic_main__views span {
	display: flex;
	align-items:  center;
	position: absolute;
	transform: translate(-10px, -17px);
}

.public {
	font-size: 13px;
	color: #27446D;
	font-weight: bold;
}

.time {
    font-size: 12px;
    color: #929AB0;
}

.news {
	display: flex;
	flex-direction: column;
}

.news__content {
	height: 295px;
	width:257px;
	background-color: white;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
}

.interesting {
	margin-top: 20px;
	width: 257px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
	
	background-image: url(img/fire.png);
	background-repeat: no-repeat;
	background-position: 11px;

	border: transparent;
	border-radius: 5px;
	background-color: white;
	font-size: 12.5px;
}

.news__sections, .news__sections__news {
	display: flex;
	flex-direction: column;
	font-size: 12.5px;
	padding: 6px 15px 9px 20px ;
	margin: 0px;
	color:#436EAB;
	cursor: pointer;
}

.news__sections__news {
	background-color: rgba(204, 211, 234, 0.4);
	color: black;
	font-weight: bold;
	border-left: 1.5px solid #436EAB;
	background-image: url(img/plusik.png);
	background-repeat: no-repeat;
	background-position:225px; 
}

.news__sections__news:hover {
	background-image: url(img/plus.png);
	background-repeat: no-repeat;
	background-position:225px;
}

.news__news {
	color: grey;
	font-size: 12.5px;
	padding: 6px 15px 9px 35px ;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

.news__content > div:hover {
	background-color: rgba(204, 211, 234, 0.4);
}


.news__news > p {
	padding: 15px 5px 0px 15px;
	color: black;
}

.line hr {
	margin: 10px;
	border: 0.4px solid #c0cddb;
	width: 90%;
}

.checkbox {
 	 visibility: hidden;
}

.switch {
	 position: relative;
	 left: 17px;
	 width: 27px;
	 height: 9px;
	 background-color: #c0cddb;
     cursor: pointer;
	 border-radius: 10px;
}

.switch__play {
 position: absolute;
  height: 14px;
  width: 14px;
  top: -3px;
  background-color:white;
  border-radius: 20px;
  cursor: pointer;
  border: 0.5px solid #c0cddb;
  z-index: 5;
}

.checkbox:checked + .switch__play {
  left: 20px;
}