.ball {
	width: 700px;
	height: 300px;
	border: 3px solid red;
}
input {
  display: none;
} 

img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: 2s ease-out;

}

input:checked ~ img{
     transform: translateX(651px) rotate(360deg);
}