body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #fff;
  font: 1em verdana, sans-serif;
}
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
[id='toggle-heart']:checked + label {
  color: #ff0101;
}
[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #000000;
  font-size: 2em;
  cursor: pointer;
  }